html,
body {
  /* background-color: #fbfbff;  */
  /* #dd5e89 → #f7bb97 */
  background-image: linear-gradient(to bottom, #052420, #314e53, #687a86, #a4a9b8, #e2dce8);
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  color: white;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .NavBar {
  background-color: #124651;
} */
